@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600;700;800;900 & display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

body, html{
    background-color: #051d3b;
    width: 100%;
    height: 100%;
    
  
    
}

.cabecalho{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 1%;
   
   
   
}


a{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color:white;
    margin-left: 65px;
    align-items: center;
   
    
}

.comunidade{
    margin-bottom: -6%;
}

.logo{
    width: 200px;
    
}

::placeholder{
    opacity: 0.64;
    color: white;
}

#imenu{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
 
        
}

#iclose{
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    color: white;

}

.mobiletxt{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color:white;
    margin-left: 65px;
    margin-top: 23px;
    align-items: center;
    
}

.mobiletxt2{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color:white;
    margin-left: 65px;
    margin-top: 7px;
    align-items: center;
    
}

.img__codigo{
    background-color:#5081FB29;
    position: absolute;
    width: 20px;
    
    
    border-radius: 16px;
    padding: 10px;
    left: 20px;
    top:17px;
    cursor: pointer;
}

.img__comunidade{
    position: absolute;
    background-color: #5081FB;
    width: 20px;
    border-radius: 16px;
    padding: 10px;
    top:88px;
    left: 20px;
    cursor:pointer;
   

}
hr{
    width: 55vw;
    margin: 0 0 0 24px;
    opacity: 0.08;
}
.perfil__menu{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    gap:10px;
    margin-left: 22px;

}

.botao__menu{
    background-color: transparent;
    
    margin-left: 50px;
}

.perfil__foto{
    width: 40px;
   
    
}

#itens{
    display: none;
    position: absolute;
    align-items: start;
    flex-direction:column;
    width: 70vw;
    font-family: 'Inter', sans-serif ;
    top:8%;
    left: 23%;
    height: 90vh;
    background-color: #2D415B;
    border-radius: 8px;
    z-index: 999;
}

#pesquisar{
    display: none;
    position: absolute;
    width: 80vw;
    margin-top: 100px;
    margin-left: 5%;
    background: #2D415B;
    border-radius: 8px;
    border: none;
    height: 40px;
    color: rgba(255, 255, 255, 0.89);
    padding-left: 15px;
}


#icloselupa{
    display: none;
    position: absolute;
    align-items: end;
    left: 70%;
    flex-direction: row-reverse;
    color: white;

}

#ilupa{
    display: flex;
    position: absolute;
    align-items: end;
    left: 70%;
    flex-direction: row-reverse;
    color: white;

    
    
}

main{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.feed{
    background-color: rgba(0, 0, 0, 0.16);
    width: auto;
    height: 578px;
    margin: 50px 16px 0 16px;
    border-radius: 8px;
    margin-bottom: 5%;
}

.feed__label{
    display: flex;
    width: auto;
    height: 402px;
    align-items: center;
    background-color: #5F75E2;
    margin:0;
    border-radius: 8px;
}

.feed__label2{
    display: flex;
    width: auto;
    height: 402px;
    align-items: center;
    background-color: #6BD1FF;
    margin:0;
    border-radius: 8px;
}

.feed__label3{
    display: flex;
    width: auto;
    height: 402px;
    align-items: center;
    background-color: #cbff6b;
    margin:0;
    border-radius: 8px;
    
}

.feed__label4{
    display: flex;
    width: auto;
    height: 402px;
    align-items: center;
    background-color: #66132c;
    margin:0;
    border-radius: 8px;

}

.feed__label__area{
    width: calc(100% - 22px);
    display: block;
    border-radius: 8px;
    background-color: #141414;
    margin: 22px;
    color:white;
    resize: none;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    text-indent: 2%;
   
}

h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: white;
    margin: 24px 24px 8px 24px;

}

p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.8;
    margin: 0 24px 34px 24px;
    color: white;

}

.social{
    display: flex;
    align-items: center;
    color: white;
    gap:5px;
    margin-left: 29px;
    
}

.like{
    width: 20px;
    filter: invert(100%);
}

.comentario{
    width: 20px;
    filter: invert(100%);
    padding-left: 15px;
}

.perfil-label{
    padding-left: calc(100% - 200px);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.perfil{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    gap:10px;
    margin-left: 22px;

}


.perfil__foto{
    width: 40px;
    display: flex;
    flex-direction: row;
}

.menu, .logo-menu, .menu-codigo, .menu-comunidade, .editortxt, .perfil-cabecalho{
    display: none;
}

@media  (min-width:600px){
    
    #pesquisar{
        display: flex;
        margin-left: 200px;
        width: 55vw;
        top: -83px;
        justify-content: center;
    }

    #ilupa{
        display: none;
    }
    #imenu{
        margin-left:50% ;
    }

    #iclose{
        display: none;
        margin-left:50%
    }

    #itens{
        width: calc(100vw - 150px);
    }

    .menu, .logo-menu, .menu-codigo, .menu-comunidade, .editortxt, .perfil-cabecalho{
        display: none;
    }
}

@media (min-width:1280px){

    body, html{
        overflow: auto;
    }

    .logo{
        display: none;
    }

    #imenu{
        display: none;
    }

    .menu{
        display: flex;
        flex-direction: column;
        
    }

    .cabecalho{
        display: flex;
        position: relative;
        
    }

    .logo-menu{
        display: flex;
        width: 200px;
       
    }

    .menu-codigo{
        display: flex;
        background-color: rgba(80, 129, 251, 0.16);
        width: 20px; 
        border-radius: 16px;
        padding: 10px;
        cursor: pointer;
    }

    .legend-menu{
        margin-bottom: 18px;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.4em;
        color: white;
        font-weight: 400;
        line-height: 18px;
        padding-left: 16px;
        padding-top: 40px;
    }
    
    li{
        display: flex;
        align-items: center;
        gap:20px;
        margin-left: 12px;
        margin-bottom: 16px;
    }

    .menu-comunidade{
        display: flex;
        background-color:#5081FB;
        width: 20px; 
        border-radius: 16px;
        padding: 10px;
        cursor: pointer;
        
    }

    .editortxt, .comunidadetxt{
        display: flex;
        text-decoration: none;
        list-style-type: none;
        color: white;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;  
    }
    
    #pesquisar{
     display: block;
     width: calc(100% - 738px);
     left: 150px;
     
    }

    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 344px;
        width: calc(100% - 434px);
        transform:translateY(-200px);
       
        
    }
    
    a{
        margin: 0;
        padding: 0;
    }

    .perfil-cabecalho{
        display: flex;
        align-items: center;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: white;
        gap: 10px;
        transform: translateY(-90px);
        justify-content: end;
        margin-right: 110px;
        
       
    
    }
    
    
    .cabecalho__foto{
        width: 40px;
        display: flex;
    }  

}